.container{
    position: relative;
    height: 90vh;
    width: 90%;
    left: 5%;
    background-color: beige;
    box-shadow: 0px 1px 8px 0px black;
    text-align: center;
}

.basket{
    position: absolute;
    height: 50px;
    width: 100px;
    bottom: 10%;
    left: 30%;
    background-color: red;
    box-shadow: 0px 1px 8px 0px black;
}
.btn{
    display: inline-block;
    padding: 15px;
    border: 1px solid black;
    color: white;
    font-size: 2em;
    text-align: center;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    border-radius: 5px;
    transition: all 0.4s ease 0s;
}
.btn:hover{
    background: gray;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.topbar{
    text-align: center;
    padding: 5px;
    font-family: sans-serif;
    font-size: 1.5em;
}